.card_due_date, .card_assigned_to, .card_completed, .card_pending{
    top:50%;
    font-size: 18px !important;
}

.card_completed {
    color: green;
}

.card_pending {
    color: red;
}

.todo_list_link:hover{
    background-color: yellow;
}

.trash {
    margin-right: 40px;
    font-size: 40px;
}

.list_page_title {
    font-size: 30px;
    padding:20px
}

.modal-footer {
  display:none
}

.disable {
  background-color: grey !important;
}

.trash:hover {
color: var(--swatch-accent);
background-color: #f6e58d;
cursor: pointer;
}
.item:hover, .list:hover {
  background-color: #f6e58d !important;
}


.delete-button {
  position: absolute;
  left: 80%;
  top: 25%;
  z-index: 5;
}

.tool {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  padding : 1px;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

.total-tool {
  margin-top: 2px !important;
  padding: 3px;
  height: 600px;
}

.wireframe-input {
  height: 1.5rem !important;
}
.input-field {
  left:10%;
  width: 80%;
  margin-top: 3%;
}
.wireframe-name-input {
  text-align: center;
  z-index: 10;
}

.wireframe-container {
  cursor: pointer;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  background-color: white;
  height: 60px;
}
.wireframe-button {
  cursor: pointer;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  text-align: center;
}
.wireframe-textfield {
  cursor: pointer;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  background-color: white;
  margin-left: -10px;
  margin-right: -10px;
}
.wireframe-card {
  padding : 1px;
  position : relative;
  padding-top: 10%;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
}
.wireframe-item-label {
  cursor: pointer;
  position: relative;
  font-size: medium;
  font-weight: bold;
  color: black;
  text-align: center;
}
.wireframe-property-label {
  position: relative;
  font-size: medium;
  font-weight: bold;
  color: black;
  text-align: center;
}

.wireframe-properties {
  padding-top: 10%;
}

.wireframe-property {
  margin-top: 0px;
}

.display-place {
  background-color: white;
  height: 600px;
}

.wireframe-top-button {
  background-color: rgba(0,0,0,0);
  color:black;
}